# Extras/

# 一些临时歌词文件
*.txt
*副本.lrc
* copy.lrc
temp*.lrc
00*.lrc

# Demo与Instrumental
*Demo*
*Instrumental*

# 音轨
*.mp3
*.flac
*.ogg
*.aac

# 视频
*.mp4
*.webm

# 封面
*.jpg
*.png

# 歌谱
*.pdf
*.zip

# lrc工具脚本目录
lrc-tools/
*.temp.lrc

# 仅包含mylittlekaraoke的Downloads, Official与Community
mylittlekaraoke/*
!/mylittlekaraoke/Downloads/
!/mylittlekaraoke/Official/
!/mylittlekaraoke/Community/

# 非常规 歌词文件
*.simple.*
*.txt.lrc

# 无关文件
*.html
*.srt
*.txt~
*.UPDATED