# Demo与Instrumental
*Demo*
*Instrumental*

# 音轨
*.mp3
*.flac
*.ogg
*.aac

# 视频
*.mp4
*.webm

# 封面
*.jpg
*.png

# 歌谱
*.pdf
*.zip

# lrc工具脚本目录
lrc-tools/
*.temp.lrc

# 无关文件
*.html
*.srt
*.txt~
/*.txt
*.UPDATED